@import 'assets/style/_variables.module.scss';
@import 'assets/style/_global.module.scss';
.reset {
  &Wrapper {
    @extend %wrapper;
  }
  &Container {
    @extend %container;
  }
  &Content {
    width: 100%;
    padding: 2.5rem;
    &:nth-of-type(1) {
      border-top-left-radius: 1.5rem;
      border-bottom-left-radius: 1.5rem;
    }
    &:nth-of-type(2) {
      background: $color-light-orange;
      border-top-right-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
      display: flex;
      flex-direction: column;

      img {
        object-fit: contain;
        width: 90%;
      }
      svg {
        align-self: flex-end;
        width: 100px;
        height: 100px;
      }
    }
  }
  &Form {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    &Title {
      @extend %form-title;
      margin-bottom: 0.2rem;
    }
    &Subtitle {
      margin-top: 0.5rem;
      @extend %form-subtitle;
      a {
        color: $color-blue;
      }
      margin-bottom: 2rem;
    }
  }
}
.formItem {
  margin-block: 0.5rem;
  legend {
    @extend %form-input-label;
  }
}
.formInput {
  @extend %form-input;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.125rem 1rem;
  input {
    background-color: transparent;
    width: 100%;
    outline: none;
    color: $color-gray;
    border: none;
  }
}
.btnConfirm {
  @extend %btn-success;
  margin-block: 1.5rem;
}
.btnBack {
  @extend %btn-secondary;
}
