@import './variables.module';

//containers
%wrapper {
  margin: 0 auto;
  width: min(95%, $large);
  padding-top: 2rem;
  padding-bottom: 2rem;
}
%container {
  display: flex;
  justify-content: center;
  width: 100%;
  background: radial-gradient(
    156.59% 339.99% at 50% 43.67%,
    $color-white 0%,
    rgba(255, 255, 255, 0) 97.27%
  );
  // filter: drop-shadow(0px 5px 10px #ffe262);
  // backdrop-filter: blur(24px);

  border-radius: 1.5rem;
}

//buttons
%btn {
  height: 3.375rem;
  filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.25));
  border: none;
  cursor: pointer;
  font-size: 1.25rem;
  border-radius: 0.875rem;
  outline: none;
}

%btn-primary {
  @extend %btn;
  background: $color-orange;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: handosoftRegular;
}
%btn-secondary {
  @extend %btn;
  background: #fffbec;
  border: 1px solid #fdf2c5;
  color: $color-gray;
  font-family: handosoftMedium;
  &:active,
  &:focus {
    filter: drop-shadow(0px 0px 0px rgba(0, 0, 0, 0.25));
  }
}
%btn-success {
  @extend %btn;
  background-color: $color-green;
  color: $color-white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: handosoftMedium;
}

%title {
  color: $color-dark-green;
  font-family: handosoftMedium;
  font-size: 3.125rem;
  line-height: 3.125rem;
}

//form elements
%form-title {
  @extend %title;
  margin-bottom: 0.5rem;
}
%form-subtitle {
  color: #39505e;
  font-size: 1.25rem;
  font-family: handoSoftRegular;
  font-weight: bold;
  line-height: 1.25rem;
  padding: 0;
}
%form-input-label {
  padding: 0;
  color: $color-dark-green;
  font-family: handosoftBold;
  font-size: 1rem;
  line-height: 1rem;
  color: #022123;
  margin-bottom: 0.875rem;
}

%form-input {
  background-color: $color-light-orange;
  height: 3.375rem;
  color: $color-gray;
  width: 100%;
  font-size: 0.875rem;
  border-radius: 0.875rem;
  font-family: handosoftRegular;
  border: none;
  outline: none;
}
