@import 'assets/style/_variables.module.scss';
.splash {
  &Wrapper,
  &Container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &Wrapper {
    width: 100vw;
    height: 100vh;
    background-color: #d3f6f9;
  }
  &Container {
    width: 90%;
    height: 90%;

    background: radial-gradient(
        156.59% 339.99% at 50% 43.67%,
        #ffffff 0%,
        rgba(255, 255, 255, 0) 97.27%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
    border: 1px solid #fbfcdb;
    box-sizing: border-box;
    filter: drop-shadow(0px 5px 10px #fbfcdb);
    backdrop-filter: blur(24px);
    border-radius: 1.5rem;
    flex-direction: column;
    justify-content: space-evenly;

    h2 {
      font-size: 2.5rem;
      font-weight: 400;
      line-height: 2.5rem;
      color: $color-dark-green;
      font-family: handoSoftRegular;
    }
  }
}
@media (max-width: $tablet) {
  .splash {
    &Container {
      h2 {
        font-size: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
}
