@import 'assets/style/_variables.module.scss';
@import 'assets/style/_global.module.scss';
.signin {
  &Wrapper {
    @extend %wrapper;
  }
  &Container {
    @extend %container;
  }

  &Content {
    width: 100%;
    padding: 2.5rem;

    &:nth-of-type(1) {
      border-top-left-radius: 1.5rem;
      border-bottom-left-radius: 1.5rem;
      border-right: none;
    }
    &:nth-of-type(2) {
      background: $color-light-orange;
      border-top-right-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
      display: flex;
      flex-direction: column;
      border-left: none;

      img {
        object-fit: contain;
        width: 90%;
      }
      svg {
        align-self: flex-end;
        width: 100px;
        height: 100px;
      }
    }
  }
  &Form {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    &Title {
      @extend %form-title;
    }
    &Subtitle {
      margin-top: 0.5rem;
      @extend %form-subtitle;
      a {
        color: $color-blue;
      }
      margin-bottom: 2rem;
    }
  }
}
.formItem {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  legend {
    @extend %form-input-label;
  }
}
.formInput {
  @extend %form-input;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.125rem 1rem;
  input {
    background-color: transparent;
    width: 100%;
    outline: none;
    border: none;
    color: $color-gray;
  }
}
.formCheckbox {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  display: flex;

  input {
    width: 20px;
    height: 20px;
  }
  span {
    color: $color-gray;
    font-size: 1.125rem;
    font-family: handoSoftRegular;
    margin-left: 0.5rem;
  }
}
.btnLogin {
  @extend %btn-primary;
  margin: 1rem 0;
}
.btnReset {
  @extend %btn-secondary;
}

@media (max-width: $desktop) {
  .signin {
    &Content {
      &:nth-of-type(2) {
        display: none;
      }
    }
    &Wrapper {
      max-width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

@media (max-width: $laptop) {
  .signin {
    &Wrapper {
      max-width: 85%;
    }
    &Form {
      padding: 2rem;
    }
  }
}
@media (max-width: $tablet) {
  .signin {
    &Wrapper {
      max-width: 90%;
      margin: 0 auto;
    }
    &Form {
      padding: 0;
    }
  }
}
