@import 'assets/style/_variables.module.scss';
@import 'assets/style/_global.module.scss';
.signin {
  &Wrapper {
    margin: 0 auto;
    width: 90%;
    padding: 3.5rem;
  }
  &Container {
    display: flex;
    justify-content: center;
    width: 100%;
    background: radial-gradient(
      156.59% 339.99% at 50% 43.67%,
      #ffffff 0%,
      rgba(255, 255, 255, 0) 97.27%
    );
    // filter: drop-shadow(0px 5px 10px #ffe262);
    // backdrop-filter: blur(24px);
    border: 1px solid #ffe262;

    border-radius: 24px;
  }
  &Navbar {
    display: flex;
    justify-content: space-between;
  }
  &Content {
    width: 100%;
    padding: 2.5rem;
    &:nth-of-type(1) {
      border-top-left-radius: 1.5rem;
      border-bottom-left-radius: 1.5rem;
    }
    &:nth-of-type(2) {
      background: $color-light-orange;
      border-top-right-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
      display: flex;
      flex-direction: column;

      img {
        object-fit: contain;
        width: 90%;
      }
      svg {
        align-self: flex-end;
        width: 100px;
        height: 100px;
      }
    }
  }
  &Form {
    padding: 3rem;
    display: flex;
    flex-direction: column;
    &Title {
      @extend %form-title;
      margin-bottom: 0.2rem;
    }
    &Subtitle {
      margin-top: 0.5rem;
      @extend %form-subtitle;
      a {
        color: $color-blue;
      }
      margin-bottom: 2rem;
    }
  }
}
.formItem {
  margin-block: 0.5rem;
  legend {
    @extend %form-input-label;
  }
}
.formInput {
  @extend %form-input;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.125rem 1rem;
  input {
    background-color: transparent;
    width: 100%;
    outline: none;
    border: none;
  }
}
.formCheckbox {
  margin-block: 0.5rem;
  display: flex;

  input {
    width: 20px;
    height: 20px;
  }
  span {
    color: #a4afb0;
    font-size: 1.125rem;
    font-family: helveticaRegular;
    margin-left: 0.5rem;
  }
}
.btnLogin {
  @extend %btn-primary;
  margin: 1rem 0;
  font-family: helveticaRegular;
}
.btnReset {
  @extend %btn-secondary;
  font-family: helveticaRegular;
}
.formFooter {
  display: flex;
  list-style: none;
  gap: 2.25rem;
  li a {
    display: block;
    font-family: helveticaRegular;
    font-size: 1.125rem;
    color: #a4afb0;
  }
  li {
    &:nth-child(2) {
      position: relative;

      &::before {
        position: absolute;

        content: '';
        left: -10px;
        top: 10px;
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: #a4afb0;
      }
    }
  }
}
