@import 'assets/style/_variables.module.scss';
.navbarWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: $tablet) {
  .navbarWrapper {
    margin-bottom: 0.5rem;
  }
}
