// vars and keyframes
$delay: 0.5s;
$menu-items: 2;

@keyframes drop {
  from {
    top: -125px;
  }
  70% {
    top: 145px;
    animation-timing-function: ease-in;
  }
  to {
    top: 125px;
    animation-timing-function: ease-out;
  }
}

.wrapper {
  position: relative;
}

.menu {
  width: 100%;
}

.menu__list {
  width: 100%;
  padding-left: 0;
}

.menu__list__item {
  position: relative;
  display: flex;
  align-items: baseline;
  font-size: 1rem;
  gap: 5px;
  font-family: handosoftRegular;
  background: #efefe3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 0.8rem;
  padding: 5px;
  margin-bottom: 5px;
  top: 0px;
  svg {
    width: 30px;
    height: 13px;
  }
}

.menu__list__item {
  display: none;
}
ul {
  margin: 0;
  padding: 0;
}
.menu__list--animate .menu__list__item {
  animation: drop 0.9s;
  animation-fill-mode: forwards;
  display: block;
  .menu {
    margin-top: -145px;
  }
  @for $i from 2 through $menu-items {
    &:nth-child(#{$i}) {
      animation-delay: $delay * ($i - 1);
    }
  }
}
