@import 'assets/style/_variables.module.scss';
@import 'assets/style/_global.module.scss';
.signup {
  &Wrapper {
    @extend %wrapper;
  }
  &Container {
    @extend %container;
  }

  &Content {
    aside {
      display: flex;
      gap: 1.5rem;
      align-items: center;
      width: 100%;
      div {
        width: 100%;
      }
    }
    width: 100%;
    padding: 2.5rem;
    &:nth-of-type(1) {
      border-top-left-radius: 1.5rem;
      border-bottom-left-radius: 1.5rem;
    }
    &:nth-of-type(2) {
      background: $color-light-orange;
      border-top-right-radius: 1.5rem;
      border-bottom-right-radius: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      svg {
        align-self: flex-end;
        width: 100px;
        height: 100px;
        margin-top: auto;
      }
    }
    &Card {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      background-color: #daf3fc;
      font-family: handosoftMedium;
      margin-top: auto;
      color: $color-dark-green;
      aspect-ratio: 1;
      border-radius: 1.5rem;
      padding: 3.5rem 3rem;
      margin-bottom: 1rem;
      a {
        color: $color-blue;
      }
    }
  }
  &Form {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    &Title {
      @extend %form-title;
      margin-bottom: 0.2rem;
    }
    &Subtitle {
      margin-top: 0.5rem;
      @extend %form-subtitle;
      a {
        color: $color-blue;
      }
      margin-bottom: 2rem;
    }
  }
  &Lottie {
    width: 20%;
    align-self: flex-end;
  }
}
.formItem {
  margin-block: 0.5rem;
  legend {
    @extend %form-input-label;
  }
}
.formInput {
  @extend %form-input;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.125rem 1rem;
  input {
    background-color: transparent;
    width: 100%;
    outline: none;
    color: $color-gray;
    border: none;
  }
}
.formCheckbox {
  margin-block: 0.5rem;
  display: flex;

  input {
    width: 20px;
    height: 20px;
  }
  span {
    width: 95%;
    color: $color-gray;
    font-size: 1.125rem;
    font-family: handosoftRegular;
    margin-left: 0.5rem;
  }
}
.btnCancel,
.btnConfirm {
  width: 100%;
}
.btnCancel {
  @extend %btn-secondary;
  color: $color-gray;
  margin: 1rem 0;
}
.btnConfirm {
  @extend %btn-success;
}
@media (max-width: $desktop) {
  .signup {
    &Content {
      &:nth-of-type(2) {
        display: none;
      }
    }
    &Wrapper {
      max-width: 80%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}

@media (max-width: $laptop) {
  .signup {
    &Wrapper {
      max-width: 85%;
    }
    &Form {
      padding: 2rem;
    }
    &Content {
      aside {
        flex-direction: column;
        gap: 0;
      }
    }
  }
}
@media (max-width: $tablet) {
  .signup {
    &Wrapper {
      max-width: 90%;
      margin: 0 auto;
    }

    &Form {
      padding: 0.5rem;
    }
  }
}
